#footer{
    position: fixed;
    text-align: left;
    background-color: slategrey;
    height: 100px;
    bottom: 0px;
    left: 0px;
    padding: 50px;
    width: 97%;
}

#credit{
    float: right;
    font-style: italic;
}