.input_div{
    position: fixed;
    display: flex;
    align-items: center;
    justify-self: left;
    height: 20%;
    left: 0;
    top: 10%;
    padding: 10px;
    text-align: center;
    border: 4px dotted green;
    font-size: 30px;
}

.output_div{
    position: absolute;
    left: 30%;
    font-size: 30px;
    color: red;
    text-align: center;
    top:20%;
}

.button{
    display: inline-block;
    width: 150px;
    padding: 10px;
    font-size: 25px;
    text-decoration: none;
    color: aliceblue;
    background-color: rgb(83, 107, 125);
    border: none;
    border-radius: 8px;
}

.button:hover{background-color: green;}